@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<ST_WebApp.Models.Employee>

<h1>All Employees</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Address</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Age</td>
                <td>@employee.Salary</td>
                <td>@employee.Address</td>
                <td>@employee.Email</td>
            </tr>
        }
    </tbody>
</table>
