@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ST_WebApp.Models.Employee

<h1>Employee Details</h1>

<div>
    <p><strong>Id:</strong> 
        @Model.Id</p>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Age:</strong> @Model.Age</p>
    <p><strong>Salary:</strong> @Model.Salary</p>
    <p><strong>Address:</strong> @Model.Address</p>
    <p><strong>Email:</strong> @Model.Email</p>
</div>